<div class="p-4 sm:ml-64 bg-gray-800">
  <div class="p-4 border-2 border-dashed rounded-lg border-white">

    <div class="flex items-center justify-center p-2 mb-4 rounded bg-gray-800">
      <p class="text-2xl text-white">
        <%= render 'quantity/single_quality' %>
      </p>
    </div>

  </div>
</div>