<div class="flex justify-center gap-4 p-4">
<% @product.each do |prod| %>
  <%= prod.name %>
  <%= prod.description %>
    <%= prod.price %>
    <%= image_tag(prod.image, class: "h-24 w-24") %>

  <% end %>

</div>